button {
    margin: 10px;
  }

  div {
    margin: 10px;
  }

  form {
    margin: 10px;
  }

  input {
    margin: 10px;
  }

  .gif-row {
      width: 20%;
      float: left;
  }

  body {
    background-image: url('./assets/images/space.jpg');
    color: beige;
  }

  label {
    font-size: 30px;
  }

  h1 {
    text-align: center;
  }